/* #General
================================================== */
body {
	position: relative;
	.ie8 & {
		min-width: 980px;
	}
	&.cherry-fixed-layout {
		@media (max-width: 767px) {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		.header,
		.content-holder,
		.footer {
			@media (max-width: 767px) {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
}

a {
	outline: none;
	&:focus {
		outline: none;
	}
}

.main-holder {
	position: relative;
	z-index: 1;
	.cherry-fixed-layout &{
		margin: 0 auto;
		max-width: 980px;
		width: auto;
		background: @mainBackground;
		@media (min-width: 1200px) {
			max-width: 1210px;
		}
		@media (min-width: 768px) and (max-width: 979px) {
			max-width: 764px;
		}
	}
}