@import url(//fonts.googleapis.com/css?family=Montserrat);
/* Theme Customizer CSS
------------------------*/
.wp-full-overlay.expanded {
	margin-left: 0;
}
.wp-full-overlay.collapsed .wp-full-overlay-sidebar {
	margin-left: -200px;
}
.wp-full-overlay a.collapse-sidebar {
	right: 17px !important;
	left: auto !important;
	bottom: auto;
	top: 12px;
	margin: 0;
	padding: 0;
	width: 31px;
	height: 31px;
}
.wp-full-overlay .collapse-sidebar-label {
	background: #f2f4f5;
}
.wp-full-overlay .collapse-sidebar-arrow:before {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: none;
	color: #FFF;
	content: "\f111";
	font-size: 36px;
}
[id$='general'],
[id$='header'],
[id$='tagline'],
[id$='logo'],
[id$='slider'],
[id$='blog'],
[id$='front_page'],
[id$='portfolio'],
[id$='footer'],
#accordion-section-title_tagline,
#accordion-section-nav {
	display: none;
}
/* form */
#customize-controls {
	position: absolute;
	top: 100px;
	bottom: auto;
	overflow: inherit;
	height: auto;
	border: none;
	width: 200px;
	font-family: 'Montserrat', sans-serif;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
	box-shadow: 0 0 5px rgba(0,0,0,.15);
}
#customize-controls a {
	outline: none;
}
#customize-controls > div {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}
/* form title */
#customize-header-actions {
	display: block;
	margin-right: -60px;
	padding: 19px 0 17px 33px;
	height: auto;
	background: #404040;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}
/* ul */
#customize-theme-controls {
	border: 1px solid #fff;
}
/* ul li h3 */
#customize-theme-controls .accordion-section-title {
	/*pointer-events: none;
	cursor: default;*/
	display: none;
}
/* ul li ul */
#customize-theme-controls .accordion-section-content {
	display: block;
	padding: 17px 10px 15px 20px;
	background: #f2f4f5;
}
.customize-control {
	margin-bottom: 0;
}
/* ul li ul li span */
.customize-control-title {
	margin-bottom: 5px;
	text-align: center;
	font-weight: normal;
	font-size: 13px;
}